---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import PrivacyBox from '../components/privacy/PrivacyBox.astro';

import PrivacyPolicy from '../locales/ja/PrivacyPolicy.json';

const { UserPrivacyPolicy, PrivacyItem, Contact } = PrivacyPolicy;
---

<Layout title="プライバシーポリシー">
    <article class="pt-[66px]">
        <section>
            <SecTitle>プライバシーポリシー</SecTitle>

            <PrivacyBox>
                <h3 class="font-kaisei text-[15px] leading-[25px] before:content-['ー'] after:content-['ー']">
                    {UserPrivacyPolicy[0].title}
                </h3>
                <p class="first-letter:pl-4">{UserPrivacyPolicy[0].content}</p>
                <ol class="grid list-decimal gap-[14px] pl-5">
                    {UserPrivacyPolicy[0].items.map((item) => <li class="leading-[25px]">{item}</li>)}
                </ol>
            </PrivacyBox>

            {
                PrivacyItems.PrivacyItem.map((PrivacyItem: any) => (
                    <PrivacyBox>
                        <h3 class="font-kaisei text-[15px] leading-[25px]">{PrivacyItem.title}</h3>
                        <p class="leading-[25px]">{PrivacyItem.content}</p>
                        {PrivacyItem.items ? (
                            <ul class="list-disc pl-5">
                                {PrivacyItem.items.map((i: any) => (
                                    <li>{i}</li>
                                ))}
                            </ul>
                        ) : (
                            false
                        )}
                    </PrivacyBox>
                ))
            }
            <PrivacyBox>
                <h3 class="font-kaisei text-[15px]">{Contact[0].title}</h3>
                <div>
                    <ul>
                        {
                            Object.entries(Contact[0].details).map(([key, value]) => (
                                <li class="leading-[25px]">{value}</li>
                            ))
                        }
                    </ul>
                </div>
            </PrivacyBox>
        </section>
    </article>
</Layout>
