---
import Layout from '../layouts/Layout.astro';
import SecTitle from '../components/common/SecTitle.astro';
import PrivacyBox from '../components/privacy/PrivacyBox.astro';

import UserPrivacyPolicy from '../locales/ja/UserPrivacyPolicy.json';
import PrivacyItems from '../locales/ja/PrivacyItems.json';
---

<Layout title="プライバシーポリシー">
    <article class="pt-[66px]">
        <section>
            <SecTitle>プライバシーポリシー</SecTitle>

            <PrivacyBox>
                <h3 class="font-kaisei text-[15px] leading-[25px] before:content-['ー'] after:content-['ー']">
                    {UserPrivacyPolicy.title}
                </h3>
                <p class="first-letter:pl-4">{UserPrivacyPolicy.content}</p>
                <ol class="grid list-decimal gap-[14px] pl-5">
                    {UserPrivacyPolicy.items.map((item) => <li class="leading-[25px]">{item}</li>)}
                </ol>
            </PrivacyBox>

            {
                PrivacyItems.PrivacyItem.map((PrivacyItem: any) => (
                    <PrivacyBox>
                        <h3 class="font-kaisei text-[15px] leading-[25px]">{PrivacyItem.title}</h3>
                        <p class="leading-[25px]">{PrivacyItem.content}</p>
                        {PrivacyItem.items ? (
                            <ul class="list-disc pl-5">
                                {PrivacyItem.items.map((i: any) => (
                                    <li>{i}</li>
                                ))}
                            </ul>
                        ) : (
                            false
                        )}
                    </PrivacyBox>
                ))
            }
            <PrivacyBox>
                <h3 class="font-kaisei text-[15px]">個人情報保護に関するお問い合わせ先</h3>
                <div>
                    <p>TEL.082-942-1007</p>
                    <p>e-mail.o-k-b@j-c-s.info</p>
                    <p>邑南町香木の森公園バンガロー</p>
                    <p>問い合わせ担当　清水</p>
                </div>
            </PrivacyBox>
        </section>
    </article>
</Layout>
